@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


.form{
    width: 30vw;
    margin-left: 30vw;
    padding: 10vh;
    height: 60vh;
    background-color: rgb(190, 190, 190); 
    opacity: 0.95;
    margin-top: 15vh;
   border-radius: 5%;
   padding-bottom: 20px;
   
}
.back{
    background-image: url('../shared/pngegg.png');
    /* background-size: '160% 100%'; */
    background-size: '50px 50px';
    width: 160%;
    height: 100%;
    
}
.titleForm{
    font-size: 2rem;
    top: -50px !important;
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.textfield{
    margin-bottom: 20px !important;
}

